/* I will create the darkmode option for this website to increase the readability and accessibility */

:root {
    --base-color: rgb(239, 193, 134);
    --base-variant: rgb(245, 241, 235);
    --primary-text: rgb(145, 36, 22);
    --secondary-text: rgb(22, 20, 20);
    --btn-color: rgb(0, 0, 0);
    --btn-text: rgb(255, 255, 255);
    --hover-1: rgb(234, 156, 55);
}

.darkmode {
    --base-color: rgb(22, 20, 20);
    --base-variant: rgb(55, 49, 49);
    --primary-text: rgb(145, 36, 22);
    --secondary-text: rgb(239, 193, 134);
    --btn-color: rgb(255, 255, 255);
    --btn-text: rgb(0, 0, 0);
    --hover-1: rgb(8, 6, 6);
}

*, *::after, *::before {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

section {
    height: 100vh;
    max-width: 1400px;
    display: flex;
}

.Slide1 {
    background-color: var(--base-color);
    position:relative;
}

.Slide2 {
    background-color: var(--base-variant);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slide3 {
    background-color: var(--base-variant);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slide4 {
    background-color: var(--base-variant);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slide5 {
    background-color: var(--base-variant);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slide6 {
    background-color: var(--base-variant);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slide7 {
    background-color: var(--base-variant);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pic {
    position: absolute;
    object-fit: contain;
    column-count: 4;
}

.Pic img{
    object-fit: contain; /* important to display nicely */
    height: 500px;
    width: 250px;
}

.textbox {
    display:flex;
    top: 50%;
    height: 350px;
    width:250px;
    transform: translate(0%, 21.5%);
    padding: 10px;
}

.h3_cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height:75px;
    width:250px;
    background-color: var(--base-color);
    border-radius: 25px;
    z-index:10;
    right: 0px;
    top:0px;
}

.h3_cont h3{
    color: var(--secondary-text)
}

.p_cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width:250px;
    background-color: var(--base-color);
    z-index:10;
    right: 0px;
    top: 100px;
    padding:15px;
    border-radius: 35px;
}

.p_cont p {
    color: var(--secondary-text);
    font-size: 0.75rem;
}

.h3_cont:hover{
    background-color: var(--hover-1);
    color: var(--btn-text);
}


.p_cont:hover {
    background-color: var(--hover-1);
    color: var(--btn-text);
}


.textbook h3 {
    color: var(--secondary-text);
    width:250px;
}

.Intro_H1 {
    color: var(--primary-text);
    font-size: 2.25rem;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.BasicText {
    color: var(--secondary-text);
    font-size: 1.25rem;
    display: flex;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.BTN {
    background-color: var(--btn-color);
    color: var(--btn-text);
    position:fixed;
    z-index: 10;
    left: 90%;
    top: 5%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.BTN svg:last-child{
    display:none;
}

.darkmode .BTN svg:first-child{
    display: none;
}

.darkmode .BTN svg:last-child{
    display:flex;
}
